* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  color: white;
  background-color: #0a0a0a;
}
a {
  display: inline-block;
}
/* header */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 60px;
}
.navbar-logo {
  font-size: 32px;
  font-weight: 400px;
  color: #c7c7c7;
  line-height: 150%;
  letter-spacing: -1;
  font-family: "Bebas Neue", sans-serif;
}
.navbar-menu {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}
.navbar-item {
  padding: 0px 10px;
}
.nav-toggle {
  display: none;
}
.hamburger {
  font-size: 34px;
  font-weight: 500;
  color: #c7c7c7;
  display: block;
}
.close-icon {
  font-size: 34px;
  font-weight: 500;
  color: #c7c7c7;
  display: none;
}
nav li a {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -3%;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  color: #c7c7c7;
  font-family: "Manrope", sans-serif;
}
/* hero-section */
.hero {
  padding: 30px 60px;
  border-bottom: 1px solid #484848;
}
.hero-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  max-width: 1300px;
  align-items: center;
  justify-content: center;

  /* height: 75vh; */
}

.hero-title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 101px;
  font-weight: 400;
  line-height: 90%;
}
.hero-description {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  color: #c7c7c7;
}
.hero-image-wrapper {
  width: 100%;
  max-height: 700px; /* hero height */
  overflow: hidden;
  border-radius: 16px;
}
.hero-image {
  max-width: 100%;
  width: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.hero-text {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.hero-actions {
  margin-top: 25px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: #d3e97a2e;
  border-radius: 50%;
  margin: 0px 10px;
}
.hero-actions img {
  display: block;
  margin: 0 auto;
  background: transparent;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.hero-actions a {
  background: transparent;
}
.hero-cta {
  padding: 20px 20px;
  background-color: #d3e97a;
  color: #0a0a0a;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 100%;
  border-radius: 35px;
  border: none;
  cursor: pointer;
}
/* project */
.projects {
  padding: 0px 60px;
  border-bottom: 1px solid #484848;
}
.projects-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 110px;
  max-width: 1300px;
  padding: 60px 0px;
}
.projects-header {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.projects-title {
  font-family: "Bebas Neue", sans-serif;
  line-height: 100%;
  font-size: 76px;
  font-weight: 400;
}
.projects-description {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  color: #c7c7c7;
}
.project-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 48px;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.project-media {
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a;
  border-radius: 12px;
}
.project-tag {
  width: fit-content;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Manrope", sans-serif;
  background-color: #0a0a0a;
  color: white;
  margin-top: 16px;
  margin-left: 16px;
  border-radius: 18px;
  text-align: center;
}
.image-container-project {
  background-color: #1a1a1a;
  padding: 100px 70px;
  border-radius: 12px 12px 12px 12px;
}
.project-image-container {
  max-width: 100%;
  height: 345px;
  border-radius: 12px;
  background-color: #484848;
}
.project-image-container img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 12px;
}
.project-content {
  display: flex;
  flex-direction: column;
  row-gap: 45px;
}
.project-text {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.project-name {
  font-size: 32px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  line-height: 140%;
  color: #ffffff;
}
.project-summary {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  font-family: "Manrope", sans-serif;
  color: #c7c7c7;
}
.project-meta-title {
  margin-top: 32px;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  font-family: "Manrope", sans-serif;
  color: #ffffff;
}
.project-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  line-height: 160%;
  font-family: "Manrope", sans-serif;

  padding: 16px 0px;
}
.project-meta {
  border-top: 1px solid #484848;
  border-bottom: 1px solid #484848;
}
.project-meta p:nth-child(2) {
  color: #c7c7c7;
}
.project-links {
  display: flex;
  align-items: center;
  justify-content: start;
  column-gap: 20px;
}
.links {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.project-links a {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  font-family: "Manrope", sans-serif;
  text-decoration: none;
  color: #d3e97a;
  cursor: pointer;
  border-bottom: 2px solid #d3e97a;
}
.project-links ion-icon {
  display: inline-block;
  font-size: 26px;
  color: #d3e97a;
}
.live {
  transform: rotate(-40deg);
}
/* testimonial */
.testimonials {
  margin: 0px 60px;
  border-bottom: 1px solid #484848;
}

.testimonials-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 25px;
  margin: 0 auto;
  padding: 60px 0px;
  overflow-x: auto;
}

.testimonials-title {
  font-size: 76px;
  font-weight: 400;
  line-height: 150%;
  font-family: "Bebas Neue", sans-serif;
  padding-top: 60px;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  border: 1px solid #484848;
  border-radius: 23px;
  padding: 20px;
}
.testimonial-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  font-family: "Bebas Neue", sans-serif;
}
.testimonial-text {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.testimonial-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  column-gap: 20px;
}
.testimonial-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
/* about */
.about-preview {
  padding: 0px 60px;
  border-bottom: 1px solid #484848;
}

.about-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  justify-content: space-between;
  column-gap: 30px;
  max-width: 1300px;
  padding: 60px 0px;
}
.about-heading h1 {
  font-family: "Bebas Neue", sans-serif;
  line-height: 90%;
  font-size: 101px;
  font-weight: 400;
}
.about-content {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.about-intro {
  font-family: "Manrope", sans-serif;
  line-height: 140%;
  font-size: 31px;
  font-weight: 500;
}
.about-description {
  font-family: "Manrope", sans-serif;
  line-height: 150%;
  font-size: 18px;
  font-weight: 400;
  color: #c7c7c7;
}
.about-link {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  width: fit-content;
  font-family: "Manrope", sans-serif;
  text-decoration: none;
  color: #d3e97a;
  cursor: pointer;
  border-bottom: 2px solid #d3e97a;
  margin-top: 55px;
}
.home-about-image {
  display: none;
}
/* contact */
.site-footer {
  padding: 0px 60px;
}
.footer-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  justify-content: space-between;
  column-gap: 30px;
  max-width: 1300px;
  padding: 80px 0px;
}
.footer-title {
  font-size: 76px;
  font-weight: 400;
  line-height: 100%;
  font-family: "Bebas Neue", sans-serif;
}
.footer-email {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #c7c7c7;
  max-width: 308px;
}
.footer-email span {
  color: #d3e97a;
  text-decoration: underline;
  font-weight: 500;
}
.footer-info {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.footer-text {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.footer-socials {
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 25px;
}
.social-icon-container,
img {
  width: 28px;
  height: 28px;
}
.copy-rights {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #c7c7c7;
  padding-top: 336px;
}
.mobile-copy-rights {
  display: none;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #c7c7c7;
  padding-top: 336px;
}
.footer-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 16px;
  height: 100%;
}
form {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.footer-form label {
  display: block;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  color: #c7c7c7;
  margin-bottom: 8px;
}
.footer-form input {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #c7c7c7;
  width: 100%;
  height: 50px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid #484848;
  background-color: #1a1a1a;
}
.footer-form textarea {
  width: 100%;
  height: 150px;
  border-radius: 4px;
  border: 1px solid #484848;
  background-color: #1a1a1a;
}
.footer-form .form-submit {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 800;
  width: fit-content;
  padding: 20px 40px;
  color: #0a0a0a;
  background-color: #d3e97a;
  border-radius: 35px;
  border: none;
  cursor: pointer;
}
/* -----------------------
-------------------------- */
.about-me-page {
  display: flex;
  align-items: center;
}
.about-me-page .about-link {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 800;
  width: fit-content;
  padding: 20px 40px;
  color: #0a0a0a;
  background-color: #d3e97a;
  border-radius: 35px;
  border: none;
}
.about-me-page a {
  margin-top: 0px;
}
.about-me-page img {
  display: block;
  margin: 0 auto;
  background: transparent;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: #d3e97a2e;
}
.about-me-page .icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 0px 10px;
}
/* profile-section */
.profile-section {
  padding: 30px 60px;
}
.profile-image-container {
  background-color: #c7c7c7;
  height: 700px;
  border-radius: 16px;
}
.profile-image-container img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: transparent;
}
/* my capabilities */
.capabilities-section {
  padding: 30px 60px;
  border-bottom: 1px solid #484848;
}
.capabilities-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 80px 0px;
}
.capabilities-heading h2 {
  font-size: 76px;
  font-weight: 400;
  line-height: 100%;
  font-family: "Bebas Neue", sans-serif;
}
.capabilities-content {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.capabilities-description {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  color: #c7c7c7;
}
.capabilities-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.capabilities-list li {
  list-style: none;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  color: #c7c7c7;
  padding: 20px 40px;
  border-radius: 35px;
  border: 1px solid #484848;
}
/* experience */
.experience-section {
  padding: 30px 60px;
  border-bottom: 1px solid #484848;
}
.experience-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 80px 0px;
}
.experience-heading h2 {
  font-size: 76px;
  font-weight: 400;
  line-height: 100%;
  font-family: "Bebas Neue", sans-serif;
}
.experience-content {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}
.experience-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 500;
  line-height: 130%;
  font-family: "Manrope", sans-serif;
}
.experience-header span {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  color: #c7c7c7;
}
.experience-item {
  display: flex;
  row-gap: 16px;
  flex-direction: column;
}
.experience-company {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 160%;
  color: #d3e97a;
}
.experience-description {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  color: #c7c7c7;
}
/* media queries */
@media (max-width: 1024px) {
  .image-container-project {
    padding: 70px 40px;
  }
}
@media (max-width: 768px) {
  .project-card,
  .about-wrapper,
  .capabilities-wrapper,
  .experience-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .testimonials-wrapper {
    flex-wrap: wrap;
    row-gap: 30px;
  }
  .hero-wrapper {
    height: 100vh;
  }
  .experience-header {
    flex-direction: column;
    row-gap: 20px;
    align-items: start;
  }
}
@media (max-width: 426px) {
  .navbar-menu {
    position: fixed;
    left: -100%;
    /* right: 0; */
    flex-direction: column;
    background-color: #0a0a0a;
    top: 108px;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 30px;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    transition: left 0.3s ease;
    z-index: 20;
  }
  .navbar-menu.active {
    left: 0;
  }
  .nav-toggle.active .hamburger {
    display: none;
  }
  .nav-toggle.active .close-icon {
    display: block;
  }
  nav {
    padding: 30px;
    width: 100%;
  }
  .nav-toggle {
    display: block;
    background-color: transparent;
    border: none;
  }
  .project-image-container {
    height: 225px;
  }
  .hero-wrapper,
  .footer-wrapper {
    grid-template-columns: 1fr;
    row-gap: 30px;
    height: fit-content;
  }
  .about-description {
    display: none;
  }
  .home-about-image {
    display: block;
    width: 100%;
    height: fit-content;
  }
  .copy-rights {
    display: none;
  }
  .mobile-copy-rights {
    display: block;
    padding-top: 20px;
  }
  .testimonials-title {
    line-height: 110%;
  }
  .about-intro {
    font-family: "Manrope", sans-serif;
    line-height: 140%;
    font-size: 18px;
    font-weight: 400;
  }
  .profile-section {
    padding: 30px 25px;
  }
  .profile-image-container {
    max-width: 100%;
    height: 340px;
  }
  .site-footer,
  .hero,
  .projects,
  .testimonials,
  .about-preview,
  .capabilities-section,
  .experience-section {
    padding: 0px 25px;
  }
  .footer-wrapper,
  .about-wrapper,
  .hero-wrapper,
  .testimonials-wrapper,
  .capabilities-wrapper {
    padding: 60px 0px;
  }
}
@media (max-width: 375px) {
  .about-me-page .about-link {
    padding: 16px 16px;
  }
}
